parser_simple_http.json
{
  "name": "PDF Parser Simple HTTP",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "pdftotext '/Users/m.a.j.puzik/Desktop/'*.pdf - 2>/dev/null | head -10000"
      },
      "id": "extractDirect",
      "name": "Extract Text Directly",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.stdout || '');\nconst textLower = text.toLowerCase();\n\nif (text.length < 100) {\n  return [{json: {\n    '❌ STATUS': 'NO TEXT EXTRACTED',\n    '⚠️ Info': 'PDF might be scanned image - needs OCR'\n  }}];\n}\n\n// KLASIFIKACE\nlet docType = 'unknown';\nif (textLower.includes('faktura') || textLower.includes('invoice') || textLower.includes('daňový doklad')) docType = 'faktura';\nelse if (textLower.includes('účtenka') || textLower.includes('uctenka') || textLower.includes('receipt')) docType = 'uctenka';\nelse if (textLower.includes('výpis') || textLower.includes('vypis') || textLower.includes('statement')) docType = 'vypis';\nelse if (textLower.includes('smlouva') || textLower.includes('contract')) docType = 'smlouva';\nelse if (textLower.includes('úřední') || textLower.includes('rozhodnutí')) docType = 'urednik';\n\n// KORESPONDENT\nlet correspondent = 'Unknown';\nif (textLower.includes('čsob') || textLower.includes('csob')) correspondent = 'CSOB';\nelse if (textLower.includes('komerční banka') || textLower.includes('komercni banka')) correspondent = 'KB';\nelse if (textLower.includes('česká spořitelna') || textLower.includes('ceska sporitelna')) correspondent = 'Ceska Sporitelna';\nelse if (textLower.includes('raiffeisenbank')) correspondent = 'Raiffeisenbank';\nelse if (textLower.includes('alza')) correspondent = 'Alza';\nelse if (textLower.includes('lidl')) correspondent = 'Lidl';\nelse if (textLower.includes('kaufland')) correspondent = 'Kaufland';\n\n// CUSTOM FIELDS\nconst customFields = {};\nconst tags = [docType];\n\nif (correspondent !== 'Unknown') {\n  tags.push(correspondent.toLowerCase().replace(/\\s+/g, '-'));\n}\n\n// PARSOVANI PRO FAKTURU\nif (docType === 'faktura') {\n  // ICO\n  const icoMatch = text.match(/IČO?:?\\s*(\\d{8})/i);\n  if (icoMatch) {\n    customFields.ico = icoMatch[1];\n    tags.push('ico-' + icoMatch[1]);\n  }\n  \n  // DIC\n  const dicMatch = text.match(/DIČ:?\\s*(CZ\\d{8,10})/i);\n  if (dicMatch) {\n    customFields.dic = dicMatch[1];\n    tags.push('dic-' + dicMatch[1].toLowerCase());\n  }\n  \n  // Cislo faktury\n  const invoiceMatch = text.match(/(?:číslo faktury|invoice number|faktura č\\.?|evidenční číslo):?\\s*([A-Z0-9\\-\\/]+)/i);\n  if (invoiceMatch) {\n    customFields.invoice_number = invoiceMatch[1];\n  }\n  \n  // Variabilni symbol\n  const vsMatch = text.match(/(?:VS|variabilní symbol|var\\.\\s*symbol):?\\s*(\\d+)/i);\n  if (vsMatch) {\n    customFields.variable_symbol = vsMatch[1];\n    tags.push('vs-' + vsMatch[1]);\n  }\n  \n  // Castka\n  const amountMatch = text.match(/(?:celkem k úhradě|celkem|total|k úhradě):?\\s*([\\d\\s]+[,.]?\\d*)\\s*(?:Kč|CZK|EUR)/i);\n  if (amountMatch) {\n    customFields.amount = amountMatch[1].replace(/\\s/g, '');\n    const amount = parseFloat(amountMatch[1].replace(/\\s/g, '').replace(',', '.'));\n    if (amount > 10000) tags.push('velka-faktura');\n    else tags.push('mala-faktura');\n  }\n  \n  // Datum vystaveni\n  const dateMatch = text.match(/(?:datum vystavení|date of issue|vystaveno):?\\s*(\\d{1,2}[\\.\\-]\\d{1,2}[\\.\\-]\\d{4})/i);\n  if (dateMatch) {\n    customFields.issue_date = dateMatch[1];\n  }\n  \n  // Datum splatnosti\n  const dueMatch = text.match(/(?:datum splatnosti|due date|splatnost):?\\s*(\\d{1,2}[\\.\\-]\\d{1,2}[\\.\\-]\\d{4})/i);\n  if (dueMatch) {\n    customFields.due_date = dueMatch[1];\n  }\n}\n\n// PARSOVANI PRO VYPIS\nif (docType === 'vypis') {\n  // Cislo uctu\n  const accountMatch = text.match(/(?:číslo účtu|account number|č\\.ú\\.):?\\s*([\\d\\-\\/]+)/i);\n  if (accountMatch) {\n    customFields.account_number = accountMatch[1];\n  }\n  \n  // Obdobi\n  const periodMatch = text.match(/(?:období|period|za období):?\\s*([\\d\\.]+\\s*-\\s*[\\d\\.]+)/i);\n  if (periodMatch) {\n    customFields.period = periodMatch[1];\n  }\n  \n  // Zustatky\n  const balanceMatch = text.match(/(?:zůstatek|balance):?\\s*([\\d\\s]+[,.]?\\d*)\\s*(?:Kč|CZK)/i);\n  if (balanceMatch) {\n    customFields.balance = balanceMatch[1].replace(/\\s/g, '');\n  }\n}\n\n// PARSOVANI PRO UCTENKU\nif (docType === 'uctenka') {\n  // EET kod\n  const eetMatch = text.match(/(?:BKP|FIK|PKP):?\\s*([A-Z0-9\\-]+)/i);\n  if (eetMatch) {\n    customFields.eet_code = eetMatch[1];\n  }\n  \n  // Castka\n  const receiptAmountMatch = text.match(/(?:celkem|total|suma):?\\s*([\\d\\s]+[,.]?\\d*)\\s*(?:Kč|CZK)/i);\n  if (receiptAmountMatch) {\n    customFields.amount = receiptAmountMatch[1].replace(/\\s/g, '');\n  }\n}\n\n// OBECNE TAGY\nif (text.match(/2025/)) tags.push('2025');\nif (text.match(/2024/)) tags.push('2024');\nif (text.match(/2023/)) tags.push('2023');\n\nreturn [{json: {\n  '✅ STATUS': 'SUCCESS',\n  '📑 Type': docType,\n  '👤 Correspondent': correspondent,\n  '🏷️ Tags': tags.join(', '),\n  '📝 Custom Fields': JSON.stringify(customFields, null, 2),\n  '📊 Text Length': text.length + ' chars',\n  '💡 Preview': text.substring(0, 300)\n}}];"
      },
      "id": "parseAll",
      "name": "Parse All",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Extract Text Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Directly": {
      "main": [
        [
          {
            "node": "Parse All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "parser_simple"
}