pdfco_simple.json
{
  "name": "PDFco Simple No Buffer",
  "nodes": [
    {
      "parameters": {},
      "id": "manual",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filepath",
              "value": "/Users/m.a.j.puzik/Desktop/test.pdf"
            }
          ]
        }
      },
      "id": "setFile",
      "name": "Set File Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "filePath": "={{ $json.filepath }}"
      },
      "id": "readFile",
      "name": "Read Binary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/file/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "puzik@outlook.com_jBTKYojSItt25GcgtQakogOdYCwf63GXQDKUW46uhRQmJStwMG4ozND282mVn6Bf"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "uploadPdfco",
      "name": "Upload to PDFco",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/pdf/convert/to/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "puzik@outlook.com_jBTKYojSItt25GcgtQakogOdYCwf63GXQDKUW46uhRQmJStwMG4ozND282mVn6Bf"
            }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "jsonBody": "={\"url\": \"{{$json.url}}\", \"inline\": true}",
        "options": {}
      },
      "id": "extractText",
      "name": "Extract Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.body || $json.text || '').toLowerCase();\n\n// Klasifikace\nlet docType = 'unknown';\nif (text.includes('faktura')) docType = 'faktura';\nelse if (text.includes('účtenka')) docType = 'uctenka';\nelse if (text.includes('výpis')) docType = 'vypis';\n\n// Korespondent\nlet correspondent = 'Unknown';\nif (text.includes('čsob')) correspondent = 'CSOB';\nelse if (text.includes('alza')) correspondent = 'Alza';\n\n// Custom fields\nconst customFields = {};\nif (docType === 'faktura') {\n  const icoMatch = text.match(/ičo:?\\s*(\\d{8})/i);\n  if (icoMatch) customFields.ico = icoMatch[1];\n  \n  const vsMatch = text.match(/vs:?\\s*(\\d+)/i);\n  if (vsMatch) customFields.vs = vsMatch[1];\n}\n\nreturn [{\n  json: {\n    type: docType,\n    correspondent: correspondent,\n    customFields: customFields,\n    textLength: text.length\n  }\n}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set File Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Path": {
      "main": [
        [
          {
            "node": "Read Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary": {
      "main": [
        [
          {
            "node": "Upload to PDFco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to PDFco": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "pdfco_simple"
}